<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Image Viewer</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default" (click)="openNewRoot()">
          <span class="icon icon-folder"></span>
        </button>
        <button class="btn btn-default"
          [ngClass]="{ active: recursive }"
          (click)="toggleRecursive()">
            <span class="icon icon-flow-cascade"></span>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" (click)="markSelectedForDelete()">
          <span class="icon icon-trash"></span>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" (click)="findCurrentParent()">
          <span class="icon icon-folder"></span>
        </button>
        <button class="btn btn-default" (click)="this.showMoveFolder = true">
            <span class="icon icon-export"></span>
          </button>
      </div>
      <input
            #search
            (keydown.escape)="searchString = ''"
            [(ngModel)]="searchString"
            type="text"
            class="inputFilter"
          >
    </div>
  </header>
  <div class="window-content">
    <app-move-folder
     *ngIf="this.showMoveFolder"
     [rootFolderHistory]="this.root.moveRootFolderHistory"
     [subFolderHistory]="this.root.moveSubFolderHistory"
     (moveFolderSelected)="moveFolder($event)">
    </app-move-folder>
    <app-image-view
    *ngIf="this.currentImage"
    [currentImage]="this.currentImage"
    [root]="this.root"
    (click)="this.currentImage = null">
    </app-image-view>
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <app-file-tree-component
          *ngIf="this.displayTreeRoot"
          [dirTree]="this.displayTreeRoot"
          (dirUpdate)="updateDir($event)"
          (changeSubPath)="changeSubPath($event)"
          #treeview
        ></app-file-tree-component>
      </div>
      <div class="pane">
        <virtual-scroller *ngIf="this.displayPaths"
          #scroll [items]="this.displayPaths
          | filterPipe: this.selectedSubPath : this.recursive
          | tagFilterPipe: this.searchString
          | imageLinker
          | tagFreq"
          [childHeight]='206'>
          <app-thumbnail-component
            *ngFor="let item of scroll.viewPortItems"
            [element]="item"
            [rootFolder]="this.root.rootPath"
            [cachePath]='this.root.cachePath'
            [thumbUpdate]='this.thumbUpdate[this.item.hash]'
            (click)="this.currentImage = item">
          </app-thumbnail-component>
        </virtual-scroller>
      </div>
      <div class="info-pane">
        <app-info-pane
         [currentImage]="this.currentImage"
         [tagFreq]="this.tagFreqArray"
         (tagClicked)="this.searchString = this.searchString + ' +' + $event"
        ></app-info-pane>
      </div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>
</div>
