<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Header</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default" (click)="openNewRoot()">
          <span class="icon icon-folder"></span>
        </button>
        <button class="btn btn-default"
          [ngClass]="{ active: recursive }"
          (click)="toggleRecursive()">
            <span class="icon icon-flow-cascade"></span>
        </button>
      </div>
    </div>
  </header>
  <div class="window-content">
    <div *ngIf="this.currentImage" class="image-view" (click)="this.currentImage = null">
      <img
        class="full-image"
        [src]="'file://' + this.root.rootPath + this.currentImage.path + '/' + this.currentImage.name"
        />
    </div>
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <app-file-tree-component
          *ngIf="this.root"
          [dirTree]="this.root.tree"
          (dirUpdate)="updateDir($event)"
          (changeSubPath)="this.selectedSubPath = $event"
          #treeview
        ></app-file-tree-component>
      </div>
      <div class="pane">
        <virtual-scroller *ngIf="this.root"
          #scroll [items]="this.root.paths
          | filterPipe: this.selectedSubPath : this.recursive"
          [childHeight]='206'>
          <app-thumbnail-component
            *ngFor="let item of scroll.viewPortItems"
            [element]="item"
            [rootFolder]="this.root.rootPath"
            [cachePath]='this.root.cachePath'
            [thumbUpdate]='this.thumbUpdate[this.item.hash]'
            (click)="this.currentImage = item">
          </app-thumbnail-component>
        </virtual-scroller>
      </div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>
</div>
