<div class="info-container">
  <ng-container
  *ngIf="this.tagFreq && !this.currentImage">
    <div
    *ngFor="let tag of this.tagFreq"
    (click)="this.tagClicked.emit(tag.tag)"
    >
    {{ tag.tag }} ({{ tag.freq }})
    </div>
  </ng-container>
  <ng-container
   *ngIf="this.currentImage && this.currentImage.dimensions">
    <div
    (click)="this.tagClicked.emit(this.currentImage.size)"
    >
    {{ this.currentImage.size }}
    </div>
    <div
    (click)="this.tagClicked.emit(this.currentImage.orientation)"
    >
    {{ this.currentImage.orientation }}
    </div>
  </ng-container>
  <ng-container
   *ngIf="this.currentImage && this.currentImage.tags">
    <div
    *ngFor="let tag of this.currentImage.tags.split(' ')"
    (click)="this.tagClicked.emit(tag)"
    >
    {{ tag }}
    </div>
  </ng-container>
  <ng-container
   *ngIf="this.currentImage">
    <div
    *ngFor="let tag of this.currentImage.nameTags.split(' ')"
    (click)="this.tagClicked.emit(tag)"
    >
    {{ tag }}
    </div>
  </ng-container>
</div>
